<h2>Edited</h2>
<h2><%= task.title %></h2>
<p><%= task.task %></p>
<p>Done? <%= task.done %></p>
<p>Progress: <%= task.progress %></p>
<div class='btn btn-default'><%= link_to 'Check Task', finish_task_path(id: task.id), remote: true %></div>
<div class='btn btn-default'><%= link_to 'Delete', task_path(id: task.id), method: 'delete', remote: true  %></div>
<div class='btn btn-default'><%= link_to 'Edit', edit_task_path(id: task.id), remote: true %></div>